WALLET_PATH=/home/edu/Documentos/eduhenrique/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/connection-org1.json
CONFIGURATION_PATH=/home/edu/Documentos/eduhenrique/fabric-samples/electoral_process/typescript/wallet